########################################################################
# Shell aliases
alias ll='ls -l'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

########################################################################
# Program aliases
alias pwgen='PW_MIN=${PW_MIN:-24}; PW_MAX=${PW_MAX:-32}; for i in {1..32}; do pwgen -1 -cny $(shuf -i ${PW_MIN}-${PW_MAX} -n 1) 1; done'

alias grep="grep --color=auto"
alias wdiff="diff -y --color=auto --width=200"

alias base64="base64 --wrap=0"

# Command aliases
alias v="vim"
alias g="git"
alias lg="lazygit"
alias h="history"
alias k="kubectl"
alias tf="terraform"
alias ts="tailscale"
